body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 40px; ///height of the footer/
}

footer {
  position: absolute;
  bottom:-60px;
  left: 0;
  right: 0;
  height:60px;
  background:#6cf;

}
